*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #ff2121;
}

header{
    padding: 2rem;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffeaad;
    border-radius: 10px;
    gap: 1.5rem;
    padding: 3rem 3rem;
}

h1{
    color: #1c2130;
}
.container input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5rem;
    border-bottom: 1px solid  #235505;
    width: 50%;
}

.container input::placeholder{
    color: #046b58;
}

.container button{
    width: 40%;
    font-size: 1rem;
    padding: .6rem;
    border: none;
    background-color: #1c2130;
    border-radius: 1rem;
    color: #ffeaad;
    margin: 1rem;
    cursor: pointer;
}

.container button:hover{
    background-color: #2e3449;
}

.result span{
    font-size: 1.2rem;
    color: #1c2130;

}

